.grid-user {
    width: 400px;
    height: 400px;
    background: rgb(247, 112, 231);
    margin: 20px;
    display: flex;
    flex-wrap: wrap;

}

.grid-user div {
    width: 40px;
    height: 40px;
    flex-wrap: wrap;


}

.grid-computer div {
    width: 40px;
    height: 40px;
    flex-wrap: wrap;

}


.grid-computer {
    width: 400px;
    height: 400px;
    background: rgb(120, 173, 59);
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
}

.grid-display {
    width: 400px;
    height: 400px;
    background: rgb(21, 188, 230);
    margin: 20px;


}


.container {
    display: flex;
    flex-wrap: wrap;

}

.destroyer-container {
    width: 80px;
    height: 40px;
    display: flex;
    background-color: rgb(22, 22, 21);
    flex-wrap: wrap;


}

.destroyer-container-vertical {

    width: 40px;
    height: 80px;
    display: flex;
    background-color: rgb(0, 0, 0);
    flex-wrap: wrap;
}

.submarine-container {
    width: 120px;
    height: 40px;
    display: flex;
    background: rgb(0, 6, 9);
    flex-wrap: wrap;
    margin-left: 120px;


}

.submarine-container-vertical {
    width: 40px;
    height: 120px;
    display: flex;
    position: relative;
    top: -80px;
    background: rgb(0, 6, 9);
    flex-wrap: wrap;



}

.cruiser-container {
    width: 120px;
    height: 40px;
    display: flex;
    background: rgb(17, 17, 17);
    flex-wrap: wrap;
    margin-left: 280px;


}

.cruiser-container-vertical {
    width: 40px;
    height: 120px;
    background: rgb(15, 15, 15);
    flex-wrap: wrap;


}

.battleship-container {
    width: 160px;
    height: 40px;
    display: flex;
    background: rgb(2, 2, 2);
    flex-wrap: wrap;
    margin-left: 120px;


}

.battleship-container-vertical {
    width: 40px;
    height: 160px;
    background: blueviolet;
    display: flex;
    position: relative;
    top: -80px;


}

.carrier-container {
    width: 200px;
    height: 40px;
    display: flex;
    background: rgb(14, 13, 13);
    flex-wrap: wrap;

}

.carrier-container-vertical {
    width: 40px;
    height: 200px;
    background: rgb(12, 12, 12);
    flex-wrap: wrap;
    display: flex;
    position: relative;
    top: -280px;
}

.ship div {
    width: 40px;
    height: 40px;

}

.destroyer {
    background-color: rgb(15, 15, 15)
}

.submarine {
    background-color: black;

}

.cruiser {
    background-color: rgb(19, 18, 18);

}

.battleship {
    background-color: rgb(17, 17, 17);

}

.carrier {
    background-color: rgb(12, 12, 12);

}

.d-none {
    opacity: 0;
}

.destroyed {
    outline: 1px solid rgb(238, 13, 13);
}

.empty-shot {
    background: red;
}